/*-------------------------------
			Colors

Blue:
	HEX: #21234A
	RGBA: rgba(33, 35, 74, 1)

Orange:
	HEX: #E16121
	RGBA: rgba(204, 102, 51, 1)

Yellow:
	HEX: #FFCC33
	RGBA: rgba(255, 204, 51, 1)

--------------------------------*/


/*---------------------
		General
---------------------*/

::selection {
	background-color: #21234A;
	color: #fff;
}


/*---------------------
		Navbar
---------------------*/

@media(min-width: 767px){
	#showRightPush{ display: none; }
}

/*---------------------
		Header
---------------------*/

#mainHeader{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

#mainHeader * { max-height: 100vh; }
#main_searchContainer {
	background-color: rgba(26, 30, 75, .7);
	margin-right: 0 !important;
	margin-left: 0 !important;
}

#main_searchContainer * {
	background-color: transparent;
	font-size: 60px;
	line-height: 65px;
	font-weight: 600;
	border: none;
	display: inline-block;
}

#main_searchBar {
	border-bottom: 2px solid #ccc;
	color: #ccc;
}

#searchButton {
	color: #ddd;
	transition: all .3s ease-in-out;
	padding: 8px 15px;
}

#searchButton:hover { transform: scale(1.2); }

@media(max-width: 767px){
	#main_searchContainer { text-align: right; }
}

/*---------------------
	   About Us
---------------------*/

#about_us-infoHolder { background-color: #E16121; }
#about_us-title { font-size: 30px; }
#about_us-text { color: #EDEDED; }

/*---------------------
	   Services
---------------------*/

#services .serviceItem { transition: all .3s ease-in-out; }
#services .serviceItem:hover { cursor: pointer; }
#services .bg-extra-dark-gray { background-color: #21234A; }
#services .serviceItem:hover .bg-extra-dark-gray { background-color: #FFCC33; }

#services .serviceItemBg {
	height: 6rem;
	background-image: url(../img/tramite.jpg);
	background-position: top center;
	-webkit-background-size: cover;
	background-size: cover;
}

#services .btn i {
	margin-left: 0 !important;
	font-size: 20px;
}

#services .tramDetails { display: none; }

#services .tramDetails ul {
	display: inline-block;
	margin: 0 auto;
	margin-left: 10px;
	padding: 0;
}

#services .tramDetails li {
	font-size: 16px;
	line-height: 19px;
	list-style: none;
	margin-bottom: 10px;
}

#services .tramDetails li:not(.infoTitle) { padding-left: 15px; }

#services .tramDetails .infoTitle { 
	font-size: 21px;
	line-height: 24px;
	font-weight: 800;
}

#solRequest { display: none; }

#solRequest form {
	padding: 2rem;
	border-radius: 15px;
}

#solRequest input {
	border: none;
	border-bottom: 1.5px solid #ccc;
	margin: 0;
}

#solRequest .fileHolders {
	width: 100%;
	display: none;
}

#solRequest .solInputHolder {
	padding: 15px 10px;
	display: inline-flex;
	margin-bottom: 15px;
}

#solRequest .solInputHolder > div { margin: auto 0; }

#solRequest .requiredDoc { 
	color: red;
	font-weight: 800;
}

#solRequest button {
	width: 100%;
	border-radius: 15px;
	background-color: #21234A;
}

/*---------------------
		Contact
---------------------*/

/*#contact { background-color: #21234A; }*/

/*---------------------
		Help
---------------------*/


#help { background-color: #21234A; }
#help img { width: 100%; }
.helpStep { margin: 6rem 0; }

/*---------------------
		Footer
---------------------*/

.footer-logo {
	max-height: 200px !important;
	width: 12rem;
}