/*-------------------------------
			Colors  

Blue:
	HEX: #21234A
	RGBA: rgba(33, 35, 74, 1)

Orange:
	HEX: #E16121
	RGBA: rgba(204, 102, 51, 1)

Yellow:
	HEX: #FFCC33
	RGBA: rgba(255, 204, 51, 1)

--------------------------------*/


/*---------------------
		General
---------------------*/

::selection {
	background-color: #21234A;
	color: #fff;
}


/*---------------------
		Navbar
---------------------*/

#logoCont { text-align: left !important; }

.logo { 
	text-align: left !important;
	display: inline-block;
}

.logo img {
	width: 12rem !important;
	max-height: 200px !important;
	display: inline-block;
}

@media(min-width: 767px){
	#showRightPush{ display: none; } 
}

/*---------------------
		Header
---------------------*/

#mainHeader{ background-image: url(../img/bg.jpg); }
#main_searchContainer { background-color: rgba(26, 30, 75, .7); }

#main_searchContainer * {
	background-color: transparent; 
	font-size: 60px;
	line-height: 65px;
	font-weight: 600;
	border: none;
	display: inline-block;
}

#main_searchBar { 
	border-bottom: 2px solid #ccc;
	color: #ccc;
}

#searchButton { 
	color: #ddd;
	transition: all .3s ease-in-out;
	padding: 8px 15px;
}

#searchButton:hover { transform: scale(1.2); }

@media(max-width: 767px){
	#main_searchContainer { text-align: right; }
}

/*---------------------
	   About Us
---------------------*/

#about_us-infoHolder { background-color: #E16121; }
#about_us-title { font-size: 30px; }
#about_us-text { color: #EDEDED; }

/*---------------------
	   Services
---------------------*/

#services .bg-extra-dark-gray { background-color: #21234A; }
#services .serviceItemBg {
	height: 6rem;
	background-image: url(../img/tramite.jpg);
	background-position: top center;
	-webkit-background-size: cover;
	background-size: cover;
}

#services .btn i { 
	margin-left: 0 !important; 
	font-size: 20px;
}

/*---------------------
		Footer
---------------------*/

.footer-logo {
	max-height: 200px !important;
	width: 12rem;
}